---
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import screenshot from "../img/screenshot.png";
import screenshot2 from "../img/screenshot2.png";
import screenshot3 from "../img/screenshot3.png";
import screenshot4 from "../img/screenshot-revisao-automatica.png";
import screenshot5 from "../img/screenshot-ciclo.png";
---

<Layout title="Estugram - A Forma Simples de Organizar seus Estudos">
  <main>
    <div class="lg:w-[1024px] px-5 mx-auto">

      <div class="my-20 md:my-32 text-center">
        <h1 class="font-poppinsBold md:text-6xl text-4xl md:my-10 font-bold text-center text-white">A Forma <span class="p-1 text-green font-extrabold underline underline-offset-8">Simples</span> de Organizar seus Estudos</h1>
        <p class="font-sans text-xl my-10 text-center text-white">Estugram é a ferramenta definitiva para gerenciar seu estudo com <strong>produtividade</strong>. 
        <br>Feito para ajudar você a <strong> focar</strong> nos estudos, manter a <strong> constância</strong> e <strong>ser aprovado</strong>.</p>
        <a class="cta-button" href="https://app.estugram.com">Experimente agora</a>
        <p class="text-sm my-2 text-white/60">Teste grátis por 14 dias</p>
      </div>

      <div id="recursos" class="grid text-center md:grid-cols-3 gap-5 justify-around">
        <div class="bg-green/20 p-10 rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10 text-center inline text-green">
            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 6a.75.75 0 00-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 000-1.5h-3.75V6z" clip-rule="evenodd"></path>
          </svg>

          <h2 class="font-poppinsBold my-5 text-white font-bold">Timer Pomodoro ou Cronômetro</h2>

          <p>Mantenha o foco total nos estudos e alcance seus objetivos</p>
        </div>
        <div class="bg-green/20 p-10 rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-10 text-green inline">
            <path d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75ZM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 0 1-1.875-1.875V8.625ZM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 0 1 3 19.875v-6.75Z"></path>
          </svg>

          <h2 class="font-poppinsBold my-5 text-white font-bold">Estatísticas Detalhadas</h2>
          <p>Obtenha insights valiosos sobre seu desempenho nos estudos</p>
        </div>

        <div class="bg-green/20 p-10 rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10 text-green inline">
            <path fill-rule="evenodd" d="M9 4.5a.75.75 0 0 1 .721.544l.813 2.846a3.75 3.75 0 0 0 2.576 2.576l2.846.813a.75.75 0 0 1 0 1.442l-2.846.813a3.75 3.75 0 0 0-2.576 2.576l-.813 2.846a.75.75 0 0 1-1.442 0l-.813-2.846a3.75 3.75 0 0 0-2.576-2.576l-2.846-.813a.75.75 0 0 1 0-1.442l2.846-.813A3.75 3.75 0 0 0 7.466 7.89l.813-2.846A.75.75 0 0 1 9 4.5ZM18 1.5a.75.75 0 0 1 .728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 0 1 0 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 0 1-1.456 0l-.258-1.036a2.625 2.625 0 0 0-1.91-1.91l-1.036-.258a.75.75 0 0 1 0-1.456l1.036-.258a2.625 2.625 0 0 0 1.91-1.91l.258-1.036A.75.75 0 0 1 18 1.5ZM16.5 15a.75.75 0 0 1 .712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 0 1 0 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 0 1-1.422 0l-.395-1.183a1.5 1.5 0 0 0-.948-.948l-1.183-.395a.75.75 0 0 1 0-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0 1 16.5 15Z" clip-rule="evenodd"></path>
          </svg>

          <h2 class="font-poppinsBold my-5 text-white font-bold">Revisão Automática Inteligente</h2>
          <p>Revisão sugerida para você reforçar assuntos que merecem sua atenção</p>
        </div>
        <div class="bg-green/20 p-10 rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-10 inline text-green">
            <path fill-rule="evenodd" d="M4.755 10.059a7.5 7.5 0 0 1 12.548-3.364l1.903 1.903h-3.183a.75.75 0 1 0 0 1.5h4.992a.75.75 0 0 0 .75-.75V4.356a.75.75 0 0 0-1.5 0v3.18l-1.9-1.9A9 9 0 0 0 3.306 9.67a.75.75 0 1 0 1.45.388Zm15.408 3.352a.75.75 0 0 0-.919.53 7.5 7.5 0 0 1-12.548 3.364l-1.902-1.903h3.183a.75.75 0 0 0 0-1.5H2.984a.75.75 0 0 0-.75.75v4.992a.75.75 0 0 0 1.5 0v-3.18l1.9 1.9a9 9 0 0 0 15.059-4.035.75.75 0 0 0-.53-.918Z" clip-rule="evenodd"></path>
          </svg>

          <h2 class="font-poppinsBold my-5 text-white font-bold">Revisão Periódica</h2>
          <p>Calendário automático de revisão baseado no método 24/7/30.</p>
        </div>
        <div class="bg-green/20 p-10 rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-10 text-green inline">
            <path d="M5.625 3.75a2.625 2.625 0 1 0 0 5.25h12.75a2.625 2.625 0 0 0 0-5.25H5.625ZM3.75 11.25a.75.75 0 0 0 0 1.5h16.5a.75.75 0 0 0 0-1.5H3.75ZM3 15.75a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75ZM3.75 18.75a.75.75 0 0 0 0 1.5h16.5a.75.75 0 0 0 0-1.5H3.75Z"></path>
          </svg>

          <h2 class="font-poppinsBold my-5 text-white font-bold">Ciclo de Estudos</h2>
          <p>Organize sua rotina de estudos de forma simples com o ciclo de estudos</p>
        </div>

        <div class="bg-green/20 p-10 rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10 text-green inline">
            <path fill-rule="evenodd" d="M5.166 2.621v.858c-1.035.148-2.059.33-3.071.543a.75.75 0 0 0-.584.859 6.753 6.753 0 0 0 6.138 5.6 6.73 6.73 0 0 0 2.743 1.346A6.707 6.707 0 0 1 9.279 15H8.54c-1.036 0-1.875.84-1.875 1.875V19.5h-.75a2.25 2.25 0 0 0-2.25 2.25c0 .414.336.75.75.75h15a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-2.25-2.25h-.75v-2.625c0-1.036-.84-1.875-1.875-1.875h-.739a6.706 6.706 0 0 1-1.112-3.173 6.73 6.73 0 0 0 2.743-1.347 6.753 6.753 0 0 0 6.139-5.6.75.75 0 0 0-.585-.858 47.077 47.077 0 0 0-3.07-.543V2.62a.75.75 0 0 0-.658-.744 49.22 49.22 0 0 0-6.093-.377c-2.063 0-4.096.128-6.093.377a.75.75 0 0 0-.657.744Zm0 2.629c0 1.196.312 2.32.857 3.294A5.266 5.266 0 0 1 3.16 5.337a45.6 45.6 0 0 1 2.006-.343v.256Zm13.5 0v-.256c.674.1 1.343.214 2.006.343a5.265 5.265 0 0 1-2.863 3.207 6.72 6.72 0 0 0 .857-3.294Z" clip-rule="evenodd"></path>
          </svg>

          <h2 class="font-poppinsBold my-5 text-white font-bold">Controle de Questões</h2>
          <p>Registre questões para cada período de estudo e monitore seu aprendizado</p>
        </div>
      </div>

      <div class="my-20 py-10 md:grid grid-cols-5 gap-5">
        <div class="self-center col-span-2 text-center">
          <span class="text-center bg-green text-base-200 py-1 px-5 rounded-full text-sm font-poppinsBold font-bold"> Pomodoro ou Cronômetro</span>
          <h2 class="font-poppinsBold text-2xl text-center mb-10 mt-5 text-white font-bold">O timer que te ajuda a focar no que importa</h2>
        </div>
        <div class="col-span-3"><Image src={screenshot} alt="Tela do timer pomodoro" /></div>
      </div>
      <div class="my-20 py-10 md:grid grid-cols-5 gap-5">
        <div class="md:hidden self-center col-span-2 text-center">
          <span class="text-center bg-green text-base-200 py-1 px-5 rounded-full text-sm font-poppinsBold font-bold"> Acompanhe sua evolução</span>
          <h2 class="font-poppinsBold text-2xl text-center mb-10 mt-5 text-white font-bold">Obtenha insights valiosos sobre seus hábitos de estudo</h2>
        </div>
        <div class="col-span-3"><Image src={screenshot2} alt="Tela de estatísticas de estudo" /></div>
        <div class="hidden md:block self-center col-span-2 text-center">
          <span class="text-center bg-green text-base-200 py-1 px-5 rounded-full text-sm font-poppinsBold font-bold"> Acompanhe sua evolução</span>
          <h2 class="font-poppinsBold text-2xl text-center mb-10 mt-5 text-white font-bold">Obtenha insights valiosos sobre seus hábitos de estudo</h2>
        </div>
      </div>
      <div class="my-20 py-10 md:grid grid-cols-5 gap-5">
        <div class="self-center col-span-2 text-center">
          <span class="text-center bg-green text-base-200 py-1 px-5 rounded-full text-sm font-poppinsBold font-bold">Ciclo de Estudo</span>
          <h2 class="font-poppinsBold text-2xl text-center mb-10 mt-5 text-white font-bold">Organize sua rotina de estudo de forma simples</h2>
        </div>
        <div class="col-span-3"><Image src={screenshot5} class="border-image-rounded bg-white/10 p-5" alt="Tela de ciclo de estudo" /></div>
      </div>

      <div class="my-20 py-10 md:grid grid-cols-5 gap-5">
        <div class="md:hidden self-center col-span-2 text-center">
          <span class="text-center bg-green text-base-200 py-1 px-5 rounded-full text-sm font-poppinsBold font-bold">Revisão Automática</span>
          <h2 class="font-poppinsBold text-2xl text-center mb-10 mt-5 text-white font-bold">Nunca mais perca tempo fazendo calendários de revisão</h2>
        </div>
        <div class="col-span-3"><Image src={screenshot4} alt="Tela de estatísticas de estudo" class="border-image-rounded bg-white/10 p-5" /></div>
        <div class="hidden md:block self-center col-span-2 text-center">
          <span class="text-center bg-green text-base-200 py-1 px-5 rounded-full text-sm font-poppinsBold font-bold">Revisão Automática</span>
          <h2 class="font-poppinsBold text-2xl text-center mb-10 mt-5 text-white font-bold">Nunca mais perca tempo fazendo calendários de revisão</h2>
        </div>
      </div>
      <div class="my-20 py-10 md:grid grid-cols-5 gap-5">
        <div class="self-center col-span-2 text-center">
          <span class="text-center bg-green text-base-200 py-1 px-5 rounded-full text-sm font-poppinsBold font-bold">Modo escuro por padrão</span>
          <h2 class="font-poppinsBold text-2xl text-center mb-10 mt-5 text-white font-bold">Modo claro opcional</h2>
        </div>
        <div class="col-span-3"><Image src={screenshot3} alt="Tela do estugram com tema claro" /></div>
      </div>

      <div class="text-center my-10">
        <a class="cta-button" href="https://app.estugram.com">Experimente agora</a>
        <p class="text-sm my-2 text-white/60">Teste grátis por 14 dias</p>
      </div>

      <h2 class="font-poppinsBold text-center mt-20 mb-10 text-2xl text-white font-bold">Depoimentos de quem usa</h2>
      <div class="py-10 px-20 bg-green/20 rounded-xl mb-5 mt-5 ring-8 ring-base-200/50">
        <div>
          <p class="text-sm text-green font-poppinsBold mb-2">
            <span class="mr-2">★★★★★</span>
            <span>Luiz Rogerio</span>
          </p>
          <p class="italic text-white">Estudo para concursos na área fiscal, além de muito concorrida, é uma área que demanda bastante organização e o estugram vem atendendo perfeitamente este quesito! A forma de organizar as disciplinas, a contabilização do tempo e informação sobre aproveitamento são itens muito importantes na jornada de um concurseiro e tudo isso tenho encontrado no site estugram. Consegui me organizar rapidamente sem a necessidade de uma consultoria especializada. Está valendo muito a pena utilizar e com certeza vai contribuir para a minha aprovação em um concurso bastante esperado!!
            </p>
        </div>
      </div>
      <div class="py-10 px-20 bg-green/20 rounded-xl mb-5 mt-5 ring-8 ring-base-200/50">
        <div>
          <p class="text-sm text-green font-poppinsBold mb-2">
            <span class="mr-2">★★★★★</span>
            <span>Emylle</span>
          </p>
          <p class="italic text-white">Site incrível para o estudante, tem me ajudado muito a não procrastinar. Antes precisava de um app no celular para cronometrar o estudo, mas não dava muito certo, pois qualquer coisa eu já procrastinava no celular. Quando descobri o estudagram e deixei de lado o cronômetro pelo celular, tenho evoluído mais no estudo deixando de procrastinar. Obrigadaaa ❤️❤️</p>
        </div>
      </div>
      <div class="py-10 px-20 bg-green/20 rounded-xl mb-5 mt-5 ring-8 ring-base-200/50">
        <div>
          <p class="text-sm text-green font-poppinsBold mb-2">
            <span class="mr-2">★★★★★</span>
            <span>Tiffany</span>
          </p>
          <p class="italic text-white">Me ajuda muito a evitar a procrastinação e a ver meu rendimento. Antes, eu acreditava ser mais do produtiva do que realmente era, devido a falta de monitoramento das horas de estudo. Atualmente com o Estugram, percebi que não estava sendo tão produtiva e mudei algumas coisas para ter um estudo com mais qualidade.</p>
        </div>
      </div>      
      <div class="py-10 px-20 bg-green/20 rounded-xl mb-5 mt-5 ring-8 ring-base-200/50">
        <div>
          <p class="text-sm text-green font-poppinsBold mb-2">
            <span class="mr-2">★★★★★</span>
            <span>Filipe Carvalho</span>
          </p>
          <p class="italic text-white">Eu achei o site por acaso e adorei, o site é incrível pra contabilizar horas de estudo e para ajudar a manter o foco, pois consigo sempre saber exatamente o tempo que estudei e dessas forma conseguir bater as metas de estudo diária. Parece bobeira mas contabilizar e separar o tempo de estudo por matérias me ajudou muito a manter um ritmo de estudos. Parabéns!
            </p>
        </div>
      </div>
      <div class="py-10 px-20 bg-green/20 rounded-xl mb-5 mt-5 ring-8 ring-base-200/50">
        <div>
          <p class="text-sm text-green font-poppinsBold mb-2">
            <span class="mr-2">★★★★★</span>
            <span>Sharon Thaynã</span>
          </p>
          <p class="italic text-white">O Estugram foi uma ferramenta fundamental no meu processo de preparação para o exame da OAB. Estudar acompanhando o desenvolvimento da minha performance me dava ânimo. Eu digo sem medo que o estugram foi uma das ferramentas principais na minha aprovação.</p>
        </div>
      </div>
      <div class="py-10 px-20 bg-green/20 rounded-xl mb-5 mt-5 ring-8 ring-base-200/50">
        <div>
          <p class="text-sm text-green font-poppinsBold mb-2">
            <span class="mr-2">★★★★★</span>
            <span>Kevin</span>
          </p>
          <p class="italic text-white">Antes do estugram era muito difícil entrar em uma rotina de estudos, hoje consigo me programar melhor. O Estugram me possibilita acompanhar minha evolução, e nas avaliações eu comprovo meu rendimento.</p>
        </div>
      </div>
      <div class="text-center my-24 p-10 text-white rounded-2xl bg-gradient-to-br from-purple via-blue to-green">
        <h2 class="font-poppinsBold text-3xl text-center text-white font-bold">Pague uma vez, use para sempre</h2>
        <p class="">Sem assinaturas, sem recorrências, sem renovação.</p>
        <h3 class="text-white font-poppinsBold text-5xl mt-10">R$ 157,00</h3>
        <p class="text-sm my-2 text-white/60">Em até 3x no cartão ou no Pix.</p>
      </div>
      <div class="text-center my-10">
        <a class="cta-button" href="https://app.estugram.com">Quero otimizar meu tempo de estudo</a>
        <p class="text-sm my-2 text-white/60">Teste grátis por 14 dias</p>
      </div>

      <div class="my-10 py-10 text-center">
        <h2 class="font-poppinsBold text-2xl text-center my-10 text-white font-bold">Perguntas frequentes</h2>

        <div class="collapse collapse-arrow bg-base-200 my-5">
          <input type="radio" name="my-accordion-2" checked="checked" />
          <div class="collapse-title text-xl font-poppinsBold font-bold">O que é o Estugram?</div>
          <div class="collapse-content">
            <p>O Estugram é uma plataforma web projetada para ajudar você a organizar seu estudo de forma simples e prática. Com o estugram você registra seu estudo, acompanha seu desempenho e organiza suas revisões.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200 my-5">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-xl font-poppinsBold font-bold">Como o Estugram funciona?</div>
          <div class="collapse-content">
            <p>O Estugram permite que você acompanhe seu tempo de estudo com o cronômetro. Gerencie suas atividades de forma simples com o Ciclo de Estudos. Você pode também registrar suas questões realizadas a cada período de estudo. A partir daí o sistema gera histórico, estatísticas detalhadas e controle de revisões automáticas.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200 my-5">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-xl font-poppinsBold font-bold">Quanto custa o Estugram?</div>
          <div class="collapse-content">
            <p>O plano único custa R$ 157. Sem recorrência e sem assinatura. Pague uma vez e use pra sempre. É possível pagar com Pix ou cartão de crédito em até 3 vezes.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200 my-5">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-xl font-poppinsBold font-bold">Existe uma versão gratuita do Estugram?</div>
          <div class="collapse-content">
            <p>Não. Você poderá testar o Estugram por 14 dias sem pagar nada nem cadastrar nenhum meio de pagamento.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200 my-5">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-xl font-poppinsBold font-bold">Existe um período de teste do Estugram?</div>
          <div class="collapse-content">
            <p>Ao entrar você terá 14 dias de teste grátis do Estugram para conhecer todos os recursos disponíveis. Totalmente sem custos e sem necessidade de cadastrar nenhum meio de pagamento.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200 my-5">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-xl font-poppinsBold font-bold">Posso usar o Estugram em qualquer dispositivo?</div>
          <div class="collapse-content">
            <p>Sim, o Estugram é uma aplicação web acessível diretamente em seu navegador, o que significa que você pode usá-lo em dispositivos desktop, laptops, tablets e smartphones.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200 my-5">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-xl font-poppinsBold font-bold">Como o Estugram acompanha meu tempo de estudo por matéria?</div>
          <div class="collapse-content">
            <p>O Estugram permite que você registre o tempo dedicado a cada matéria e assunto. Isso ajuda a visualizar onde você está investindo mais tempo.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200 my-5">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-xl font-poppinsBold font-bold">O Estugram oferece insights sobre meu desempenho em questões?</div>
          <div class="collapse-content">
            <p>Sim, o Estugram oferece estatísticas detalhadas sobre as questões estudadas, permitindo que você avalie seu progresso e identifique áreas de melhoria.</p>
          </div>
        </div>

        <div class="collapse collapse-arrow bg-base-200 my-5">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-xl font-poppinsBold font-bold">Posso usar o Estugram para outros tipos de tarefas além de estudos?</div>
          <div class="collapse-content">
            <p>Embora o Estugram seja projetado para otimizar o tempo de estudo, você também pode adaptá-lo para outras tarefas que requerem foco e gerenciamento de tempo.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200 my-5">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-xl font-poppinsBold font-bold">Como faço para entrar em contato com o suporte ao cliente do Estugram?</div>
          <div class="collapse-content">
            <p>Você pode entrar em contato com nossa equipe de suporte enviando um email para ajuda@estugram.com</p>
          </div>
        </div>
        
      </div><!-- FAQ -->


      <div class="text-center my-10">
        <a class="cta-button" href="https://app.estugram.com">Quero organizar meu estudo</a>
        <p class="text-sm my-2 text-white/60">Teste grátis por 14 dias</p>
      </div>
    </div>
  </main>
</Layout>
